{
  "presets": [
    ["@babel/preset-stage-0", { "decoratorsLegacy": true }],
    ["@babel/preset-env", {
      "targets": {
        "browsers": ["last 2 versions", "safari >= 7"]
      }
    }]
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "jsx-vue-functional",
    "transform-vue-jsx"
  ]
}